@model PetStore.Models.User

@{
    ViewData["Title"] = "Login";
}
<style>
    .container{
        display:flex;
        flex: 5;
        justify-content: space-evenly;
        align-items: stretch;
        max-width: 1080px;
        box-sizing: content-box;
    }
</style>
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
        <div class="px-5 ms-xl-4">
          <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
        </div>
              <div  class="gallery test">
    <span style="--i:1">
        <img src="/Pictures/Pidgeon.png" alt=""/>
    </span>
    <span style="--i:2">
        <img src="/Pictures/Dog.jpg" alt=""/>
    </span>
    <span style="--i:3">
        <img src="/Pictures/Cat.png" alt=""/>
    </span>
    <span style="--i:4">
        <img src="/Pictures/Pig.jpg" alt=""/>
    </span>
        <span style="--i:5">
        <img src="/Pictures/Pidgeon.png" alt=""/>
    </span>
    <span style="--i:6">
        <img src="/Pictures/Dog.jpg" alt=""/>
    </span>
    <span style="--i:7">
        <img src="/Pictures/Cat.png" alt=""/>
    </span>
    <span style="--i:8">
        <img src="/Pictures/Pig.jpg" alt=""/>
    </span>
</div>
        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">


                  
<div >
    <div>
        <form asp-action="Login">
            <div  asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control"  />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <a>@ViewBag.LoginStatus</a>
            <p>Don't have an account? <a href="/User/Create" class="link-info">Register here</a></p>
    </div>
</div>
               
        </div>

      </div>

    </div>
  </div>
</section>
